<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mina.gamebox">
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-9180907491591852~4585951732"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/box"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/box"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SolitaireStartpage"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Klondike"
            android:screenOrientation="portrait" />


        <activity
            android:name=".GoFishGame"
            android:screenOrientation="landscape"></activity>

        <activity android:name=".FlappyBirdGame" />

        <activity android:name=".startFlappyBirdGame" />

        <activity
            android:name=".SimulationActivity"></activity>

        <activity android:name=".Splash"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".startGoFish"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>